/* your custom css */

blockquote {
 background-color: rgba(255,229,100,.3);
}

video {
 max-width: 100%;
}

a{
 color: #0000FF
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
