/* your custom css */

a{
 color: #0000FF
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* alignment options */

.image-align-left,
.image-align-left img{
    margin-left: unset;
    margin-right: auto;
}

.image-align-center,
.image-align-center img{
    margin-left: auto;
    margin-right: auto;
}

.image-align-right,
.image-align-right img{
    margin-left: auto;
    margin-right: unset;
}

.video-align-left,
.video-align-left video{
    margin-left: unset;
    margin-right: auto;
}

.video-align-center,
.video-align-center video{
    margin-left: auto;
    margin-right: auto;
}

.video-align-right,
.video-align-right video{
    margin-left: auto;
    margin-right: unset;
}
